/**
*  Stylesheet to centralize all default colours
*/

/* Basic pallete */
$color-primary: #322F2F;
$color-primary-light: #BAC4C6;
$color-primary-dark: #1F2224;
$color-accent: #FEE000;

/* Font pallet */
$color-text: #4F5869;
$color-text-inverted: #F5F5F5;
$color-text-light: #BAC4C6;
$color-text-lighter: #ffffff;
$color-text-dark: #322F2F;

/* Elements */
$color-main-bg: #322F2F;
$color-elements-bg: #F5F5F5;

/* Elements customs */
$border-rounded-size: .6rem;